*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
.demo,.demo1 , .demo2, .demo3,.demo4,.demotext{
    opacity: 0;  /* Start hidden */
    transition: opacity 2s ease-in-out;  /* Transition for 2 seconds */
}
.show {
    opacity: 1;  /* Show when this class is added */
}
.myimg {
    mask:
     radial-gradient(at 70% 31%,#000 29%,#0000 30%),
     radial-gradient(at 30% 31%,#000 29%,#0000 30%),
     linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
  }
.btn{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.demotext h3 {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
  }